@layer components {
  .menu-title {
    @apply uppercase font-semibold px-3 mt-4 mb-2 text-xs tracking-wider;

    &.menu-title-light {
      @apply text-msgray-500;
    }

    &.menu-title-dark {
      @apply text-msgray-300;
    }

    &.menu-title-themed {
      @apply text-gray-100/50;
    }
  }

  .menu-light {
    @apply bg-white;
    background-color: rgba(255, 255, 255, 0.98);
    backdrop-filter: blur(8px);
  }

  .menu-dark {
    @apply bg-msgray-800;
    background-color: rgba(20, 20, 20, 0.95);
    backdrop-filter: blur(8px);
  }

  .menu-transparent {
    @apply bg-transparent;
    backdrop-filter: blur(6px);
  }
}